

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.red{
  color: #e35e6b;
}

.v-middle{
  vertical-align: middle;
}

.msg-error {
  background-color: #e35e6b;
  color: #fff;
}
