.title{
  margin-top: 1%;
  padding-bottom: 5px;
  text-align: center;
  color: brown;
  font-weight: 700;
}

.edit-container{
  margin-top: 1%;
  margin-inline: 5%;
  padding-bottom: 16px;
}

.mat-form-field{
  width: 100% !important;
}

.btn-edit-container{
  margin-top: 2%;
  padding-bottom: 16px;
}

.edit-container .mat-form-field + .mat-form-field{
  margin-left: 8px;
}
